* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 20px;
  color: #444;
  background-color: rgba(245, 245, 245, 0.986);
  text-align: center;
  line-height: 1.5;
}

a {
  color: black;
}
/* header */

.header {
  background-color: rgb(221, 221, 221);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  text-align: center;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 3px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 300px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.intro {
  padding-top: 60px;
  font-size: 12px;
  padding-bottom: 30px;
  position: relative;
}
.intro img {
  float: left;
  clear: left;
  height: 90px;
  width: 90px;
  text-align: center;
  margin-top: 40px;
  margin-left: 20px;
}
h1 {
  margin-top: 50px;
  margin-left: 60px;
  padding-right: 10%;
  padding-left: 10%;
}

#about {
  width: 90%;
  margin: 20px 35px;
  padding: 0 15px;
}
hr {
  width: 80%;
}
.projects-column-container {
  margin: 0 auto;
}

.projects-column-container img {
  margin-top: 20px;
  width: 85%;
  height: auto;
}
.projects-column-container a {
  text-decoration: none;
  color: blue;
  padding: 5px;
}

#desktopAvatar {
  display: none;
}
#projects {
  margin-top: 30px;
}

.image {
  width: 15vw;
  height: 15vh;
}

.contactLinks {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width: 786px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 20px;
    text-align: center;
  }
  .header .menu {
    clear: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  .projects-column-container a {
  padding: 20px;
}

  #projects {
    width: 60%;
  }

  #smallAvatar {
    display: none;
  }
  #desktopAvatar {
    display: inline-block;
    clear: left;
    height: 30em;
    width: 24em;
    border-radius: 3px;
    margin-top: -20px;
    margin-right: -100px;
  }
  h1 {
    margin-top: 60px;
    margin-left: 0px;
    text-align: center;
  }
  .image {
    width: 15vh;
    height: 15vh;
  }
}

@media screen and (min-width: 1300px) {
  #projects {
    width: 70%;
    align-items: center;
  }
}
